<div class="container">

  <div class="image" >
    <img src="{{url +'get-image/'+ project.image}}" alt="">
  </div>

  <div class="data" >
    <h1>{{project.name}}</h1>
    <h3>{{project.description}}</h3>
    <p>{{project.category}}</p>
    <p>{{project.langs}}</p>
    <p>{{project.year}}</p>
    <div>
      <a [routerLink]="['/editar-proyecto', project._id]" class="button-edit">Editar</a>
      <a (click)="deleteProject(project._id)" class="button-delete">Borrar</a>
    </div>
  </div>
</div>