<div class="container">
  <h2>{{title}}</h2>

  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">

    <p>
      <label for="name">Nombre</label>
      <input type="text" name="name" #name="ngModel" class="form-control" [(ngModel)]="project.name" required>

    </p>

    <div class="form-control">
      <label for="description">Descripción</label>
      <input type="text" name="description" #name="ngModel" [(ngModel)]="project.description" required>

    </div>
    <!-- <div *ngIf="description.ng-touched && !description.ng-invalid">
      La descripción no es válida
    </div> -->
    <div class="form-control">
      <label for="category">Categoría</label>
      <input type="text" name="category" #name="ngModel" [(ngModel)]="project.category" required>
      <!-- <span *ngIf="category.touched && !category.invalid">
        La categoría no es válida
      </span> -->
    </div>


    <label for="year">Año de lanzamiento</label>
    <input type="number" name="year" #name="ngModel" [(ngModel)]="project.year">


    <div class="form-control">
      <label for="langs">Lenguajes utilizados</label>
      <input type="text" name="langs" #name="ngModel" [(ngModel)]="project.langs" required>
      <!-- <span *ngIf="category.touched && !category.invalid">
        Los lenguajes no son válidos
      </span> -->
    </div>

    <div class="form-control">
      <label for="image">Imagen del proyecto</label>
      <span class="image" *ngIf="project.image">
        <img src="{{url +'get-image/'+ project.image}}" alt="">
      </span>
      <input type="file" name="image" #name="ngModel" [(ngModel)]="project.image" (change)="onFileChange($event)">
    </div>

    <input type="submit" value="Enviar">
  </form>

</div>